body {
background-color: #e5e5e5;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
height:100%;
}

.wrapper {
width: 800px;
margin: 30px auto;
margin-top: 200px;
text-align:center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.75em;
  text-transform: uppercase;
}

#minutes, #seconds, #tens {
  font-size:8em;
}

button {
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
	}
}

start {
  background: #64dfdf;
}

.stop {
  background: #5390d9;
}

.reset {
  background: #5e60ce;
}
